/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #0077b6;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #0077b6;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 18px;
  margin: 5px 0;
}

ul li strong {
  color: #0077b6;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
